---
import Base from "@/layouts/BaseLayout.astro";
import { getEthscription, tryCatchFlow } from "@/lib/utils";
import { parseDataUri } from "@/lib/utils";
import { Image } from "astro:assets";
import { formatEther, formatGwei, stringify } from "viem";

// let resp = {} as any;
const url = new URL(Astro.request.url);

let item = null;

try {
  url.searchParams.set("withInput", "1");
  url.searchParams.set("withContent", "1");
  item = await getEthscription(Astro.params.input, url);
} catch (e) {
  console.log("Getting Ethscription fail: " + e);
  return Astro.redirect(
    url.origin + "/foo-bar-baz?error=Getting Ethscription fail: " + e,
    200,
  );
}

if (!item || (item && item.error)) {
  console.log("some failure `item` is:", item);
  return Astro.redirect(url.origin + "/foo-bar-baz?error=" + item?.error, 200);
}

const inputClasses = `min-w-0 flex-auto rounded-md rounded-r-none border-0 bg-white/5 px-3.5 py-2 text-gray-200 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-purple-700 sm:text-sm sm:leading-6`;

const isJson =
  item.data.mimetype.includes("json") || item.data.uri.includes('{"p":');

let jsonPreview = null;

if (isJson) {
  try {
    jsonPreview = JSON.parse(parseDataUri(item.data.uri).data);
  } catch (e) {
    console.error("Cannot parse the JSON content", e);
  }
}

jsonPreview = jsonPreview || {
  error: "Invalid JSON content",
};

const infoTable = {
  "Content Type": item.data.mimetype || "text/plain",
  Creator: item.data.creatorAddress,
  "Current Owner": item.data.currentOwner,
  "First Owner": item.data.initialOwnerAddress,
  "Created At": item.data.createdAt,
  "Block Number": item.data.blockNumber,
  "Block Hash": item.data.blockHash,
  "SHA-256": item.data.sha,
  "Transaction Hash": item.data.transactionHash,
  "Transaction Index": item.data.transactionIndex,
  "Transaction Fee": formatEther(item.data.transactionFee) + " ETH",
  "Gas Price": formatGwei(item.data.gasPrice) + " gwei",
  "Is ESIP-6": item.data.isEsip6 ? "Yes" : "No",
  "Is Base64": item.data.isBase64 ? "Yes" : "No",
  "Is Facet": item.data.isFacet ? "Yes" : "No",
  // data: item.data,
  // ...item.data,
};
---

<Base>
  <div
    class="md:px-15 mx-auto flex w-full flex-col items-center justify-center px-8 pb-20 text-slate-200 sm:px-10 md:pb-10"
  >
    <!-- <div class="mx-auto max-w-7xl px-6"> -->
    <!-- mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2 -->
    <div class="flex w-full items-center justify-between pb-5 pt-3">
      <h1
        id="brand"
        class="rainbow-animate bg-gradient-to-br from-purple-400 to-orange-500 box-decoration-clone bg-clip-text py-3 text-4xl font-extrabold text-transparent lg:text-5xl"
      >
        <a href="/">wgw.lol</a>
      </h1>
      <form
        method="POST"
        action="/"
        class="flex w-1/3 pt-2 md:max-w-md lg:w-full"
      >
        <label for="searchbox" class="sr-only"
          >Search Ethscriptions Ecosystem</label
        >

        {
          url.searchParams.get("error") ? (
            <input
              id="searchbox"
              name="searchquery"
              type="text"
              autocomplete="text"
              required
              value=""
              class={inputClasses + " animate-skew-x-shakeng"}
              placeholder="No results found, try something else"
            />
          ) : (
            <input
              id="searchbox"
              name="searchquery"
              type="text"
              autocomplete="text"
              required
              class={inputClasses}
              placeholder="Explore"
            />
          )
        }

        <button
          type="submit"
          class="flex-none rounded-md rounded-l-none bg-purple-900/50 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-white/10 transition hover:bg-purple-900/60 hover:ring-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-900"
          ><svg
            class="h-5 w-5 text-white"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg></button
        >
      </form>
      <!-- <p class="mt-4 text-lg leading-8 text-gray-200 dark:text-gray-600">One place to learn, explore, create and trade Ethscriptions.</p> -->
      <!-- <h2 class="mt-4 text-lg text-gray-200">
        The leading Open Source platform to learn, explore, create, and trade
        any EVM's calldata.
      </h2> -->

      <!-- <div class="flex flex-col gap-3 sm:flex-row">
        <span class="hidden font-semibold text-gray-100 sm:inline-block"
          >Quick Links:</span
        >
        <ul class="flex flex-wrap gap-3 text-gray-300">
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Explore</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Learn</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Tools</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >API</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="cursor-not-allowed border-b border-dashed border-b-gray-300 line-through transition"
              >Market</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="cursor-not-allowed border-b border-dashed border-b-gray-300 line-through transition"
              >Auctions</a
            >
          </li>
        </ul>
      </div> -->
    </div>

    <div
      class="mx-auto flex w-full flex-col items-center justify-between rounded-xl border border-purple-500/50 bg-[#170d1d]/70 text-white shadow-lg shadow-purple-900/40 drop-shadow-xl lg:flex-row lg:p-10"
    >
      <div
        class="_lg:shadow-[#2b1c3f] mb-10 w-full overflow-hidden rounded-xl border-b border-slate-600 bg-[#170d1d] tracking-tight hover:duration-500 lg:mb-0 lg:w-[37%] lg:border lg:shadow-md lg:shadow-purple-400/40 lg:drop-shadow-xl lg:hover:transition-shadow lg:hover:duration-700"
      >
        {
          item.data.mimetype.includes("image") && (
            <Image
              src={`${item.data.uri}`}
              alt={`Ethscription ${item.data.transactionHash}`}
              class="aspect-square w-full rounded-xl"
              style="image-rendering: pixelated;"
              inferSize={true}
            />
          )
        }
        {isJson && <pre class="jsonpre">{stringify(jsonPreview, null, 2)}</pre>}
        {
          item.data.mimetype.includes("text/html") && (
            <iframe
              src={item.data.uri}
              allow-scripts
              class="aspect-square w-full rounded-xl"
            />
          )
        }
      </div>
      <div class="w-full overflow-hidden px-5 pb-10 lg:w-[55%] lg:px-0 lg:pb-0">
        <pre class="jsonpreinfo">{stringify(infoTable, null, 2)}</pre>
        <!-- <table class="table border border-slate-600 shadow-lg shadow-[#2b1c3f]">
          <tbody
            ><tr
              ><td class="font-bold">Content Type</td>
              <td>image/png (<s class="italic">text/plain</s>)</td></tr
            >
            <tr
              ><td class="font-bold">Owner</td>
              <td
                ><div class="w-2/3 truncate sm:w-full">
                  <a
                    href="/mainnet/profile/0x0000000000000000000000000000000000000000"
                    class="text-primary-300"
                    >0x0000000000000000000000000000000000000000</a
                  >
                </div></td
              ></tr
            >
            <tr
              ><td class="font-bold">Creator</td>
              <td
                ><div class="w-2/3 truncate sm:w-full">
                  <a
                    href="/mainnet/profile/0xc2172a6315c1d7f6855768f843c420ebb36eda97"
                    class="text-primary-300"
                    >0xc2172a6315c1d7f6855768f843c420ebb36eda97</a
                  >
                </div></td
              ></tr
            >
            <tr
              ><td class="font-bold">Created</td>
              <td
                ><div class="w-2/3 truncate sm:w-full">
                  <a
                    href="https://etherscan.io/tx/0x05aac415994e0e01e66c4970133a51a4cdcea1f3a967743b87e6eb08f2f4d9f9"
                    target="_blank"
                    class="text-primary-300"
                    rel="noopener noreferrer"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="-mt-1 inline h-4 w-4"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                      ></path><path
                        d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                      ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                      ></path></svg
                    > 6/14/2023, 6:04:35 PM</a
                  >
                </div></td
              ></tr
            >
            <tr
              ><td class="font-bold">Details</td>
              <td
                ><div class="w-2/3 truncate sm:w-full">
                  <a
                    href="https://api.ethscriptions.com/api/ethscriptions/0x05aac415994e0e01e66c4970133a51a4cdcea1f3a967743b87e6eb08f2f4d9f9"
                    target="_blank"
                    class="text-primary-300"
                    rel="noopener noreferrer"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="-mt-1 inline h-4 w-4"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                      ></path><path
                        d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                      ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                      ></path></svg
                    > 0x05aac415994e0e01e66c4970133a51a4cdcea1f3…</a
                  >
                </div></td
              ></tr
            >
            <tr
              ><td class="font-bold">Block Number</td>
              <td
                ><a
                  href="https://etherscan.io/block/17478950"
                  target="_blank"
                  class="text-primary-300"
                  rel="noopener noreferrer"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="-mt-1 inline h-4 w-4"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                      d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                    ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                    ></path></svg
                  > 17,478,950</a
                ></td
              ></tr
            >
            <tr
              ><td class="font-bold">Txn Index</td>
              <td
                ><a
                  href="https://etherscan.io/tx/0x05aac415994e0e01e66c4970133a51a4cdcea1f3a967743b87e6eb08f2f4d9f9"
                  target="_blank"
                  class="text-primary-300"
                  rel="noopener noreferrer"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="-mt-1 inline h-4 w-4"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                      d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                    ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
                    ></path></svg
                  > 87</a
                ></td
              ></tr
            >
          </tbody>
        </table> -->
      </div>
    </div>
    <!-- rounded-3xl p-6 ring-1 ring-neutral-950/5 transition hover:bg-neutral-50 -->
    <!-- <dl class="grid w-10/12 gap-x-8 gap-y-10 lg:grid-cols-3"> -->

    <!-- <dl
      class="grid w-full grid-cols-1 gap-x-8 gap-y-10 pt-20 md:grid-cols-2 lg:grid-cols-3"
    >
      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Explore</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Explore the growing Ethscriptions ecosystem and its users. Search
          anything whether you're looking for a user or a specific ethscription.
          It's just the beginning of full-blown search engine.
        </dd>
      </div>

      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Learn and share</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Learn what are Ethscriptions and how they work. What are the
          differences compared to regular Ethereum NFTs and the Bitcoin
          Ordinals? Then use the platform to create an Ethscription or launch
          your first project.
        </dd>
      </div>
      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Develop</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Are you a developer? We have powerful APIs, tools, and extensive docs.
          Oh, you're creator? Fine, launch with us. Learn and use the help of
          people building on the protocol since the beginning.
        </dd>
      </div>
    </dl> -->
    <!-- </div> -->
  </div>
</Base>
